.art-maker { position: relative; border: 1px solid #999; border-radius: 8px;
    margin: 1em; padding: 0.125em; }

.art-maker .template { display: none; }

.art-maker .canvas-ui { position: relative; width: 384px; height: 384px; 
    border: 1px solid #ddd; margin: 45px; }
.art-maker .canvas-ui .ui { opacity: 1; border-radius: 4px;
    width: 32px; height: 32px; position: absolute; }
.art-maker .canvas-ui .ui img { width: 32px; height: 32px; background-color: #aaa; 
    border-radius: 4px; display: block }
.art-maker .canvas-ui .ui-rotate  { width: 100%; left: 0; margin-bottom: -36px; bottom: 0px; }
.art-maker .canvas-ui .ui-scale   { height: 100%; right: 0px; margin-right: -36px; top: 0; }
.art-maker .canvas-ui .ui-opacity { height: 100%; left: 0px; margin-left: -36px; top: 0;}

.art-maker .canvas-ui .thumbwheel-horizontal { 
    background-color: #ddd;
    background-image: -moz-linear-gradient(-45deg,
        #eee 25%, #ddd 25%, #ddd 50%,
        #eee 50%, #eee 75%, #ddd 75%, #ddd);
    background-size: 25px 25px;
}
.art-maker .canvas-ui .thumbwheel-horizontal img { display: block; position: relative;
    left: 50%; margin-left: -16px; } 
.art-maker .canvas-ui .thumbwheel-vertical { 
    background-color: #eee;
    background-image: -moz-linear-gradient(-45deg,
        #eee 25%, #ddd 25%, #ddd 50%,
        #eee 50%, #eee 75%, #ddd 75%, #ddd);
    background-size: 25px 25px;
}
.art-maker .canvas-ui .thumbwheel-vertical img { display: block; position: relative; 
    top: 50%; margin-top: -16px; } 

.art-maker canvas { }

.art-maker .art-choices { position: absolute; top: 0.25em; right: 0.25em;
    width: 33%; margin: 0; padding: 0; height: 450px; overflow: auto; }
.art-maker .art-choices li { float: right; list-style: none; margin: 0.125em; }
.art-maker .art-choices li a { padding: 0; border: 1px solid #aaa; display: block; }
.art-maker .art-choices li a img { width: 50px; height: 50px }

.art-maker .layer-set { position: absolute; top: 0.25em; left: 500px; 
    width: 325px; border: 1px solid #999; margin: 0; padding: 0; height: 450px;
    overflow: auto; }
